@model HelpingHands.Models.UserModels
@{
    ViewData["Title"] = "Update Password";
     Layout = "~/Views/Shared/_Patient.cshtml";
}
<head>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

</head>
<body>

<div class='dashboard-app'>
    <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
    <div class='dashboard-content'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
        <div class="container">
            <div class="main-body">

   <div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class="form-group">
                                <label asp-for="OldPassword" class="control-label">Old Password</label>
                                <div class="input-group">
                                    <input asp-for="OldPassword" class="form-control" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" toggle-password>
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPassword" class="control-label">New Password</label>
                                <div class="input-group">
                                    <input asp-for="NewPassword" class="form-control" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" toggle-password>
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                                <div class="input-group">
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" toggle-password>
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Home" asp-controller="PatientDashboard" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
</div>
        </div>
    </div>
</div>

    @{
        if (TempData["SuccessMessage"] != null)
        {
            <script type="text/javascript">
                Swal.fire({
                    title: 'Success!',
                    text: '@TempData["SuccessMessage"].ToString()',
                    icon: 'success',
                    confirmButtonText: 'OK'
                })
            </script>
        }
    }

</body>

<script>
    $(document).ready(function () {
        $("[toggle-password]").click(function () {
            var input = $(this).closest(".input-group").find("input");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
                $(this).find(".fa").removeClass("fa-eye").addClass("fa-eye-slash");
            } else {
                input.attr("type", "password");
                $(this).find(".fa").removeClass("fa-eye-slash").addClass("fa-eye");
            }
        });
    });

</script>