<style>
    body {
        margin-top: 20px;
    }

    .icon-lg {
        width: 3.5rem;
        height: 3.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
    }

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    a {
        text-decoration: none;
    }

    .desc {
        color: #777;
    }

   
    .card-body {
        height: 100%;
    }
</style>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <section class="section mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7 text-center desc">
                    <h2 class="h1 mb-3">How can we help?</h2>
                    <p class="mx-lg-8">Helping Hands is your trusted ally in times of need. Committed to making a positive impact, we extend a helping hand to individuals and communities facing challenges.</p>
                    <form class="d-flex flex-column flex-md-row mt-4"><input type="email" class="form-control me-sm-2 mb-2 mb-sm-0" placeholder="search topic"> <button class="btn btn-primary flex-shrink-0" type="submit">Let's help'</button></form>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-0">
        <div class="container">
            <div class="row gy-4 justify-content-center">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="icon-lg bg-primary rounded-3 text-white"><i class="fa fa-question-circle"></i></div>
                            <div class="ps-3 col">
                                <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Support</a></h5>
                                <p class="m-0">"Helping Hands is a dedicated initiative committed to providing free assistance and support to those in need. Our compassionate volunteers offer a range of services, from helping with daily tasks to providing medical support and companionship.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="icon-lg bg-primary rounded-3 text-white"><i class="fa fa-id-badge"></i></div>
                            <div class="ps-3 col">
                                <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Am I allowed to cancel?</a></h5>
                                <p class="m-0"> Yes, Helping hands allows patients to cancel contracts anytime</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="icon-lg bg-primary rounded-3 text-white"><i class="fa fa-user"></i></div>
                            <div class="ps-3 col">
                                <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Your Account</a></h5>
                                <p class="m-0">Once you've completed the necessary steps, submit your information. You should then be able to log in using your newly created account credentials.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="icon-lg bg-primary rounded-3 text-white"><i class="fa fa-trophy"></i></div>
                            <div class="ps-3 col">
                                <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Do I pay</a></h5>
                                <p class="m-0">No,Helping Hands is a dedicated initiative committed to providing free assistance and support to those in need. Our compassionate Nurses offer services free of charge</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="icon-lg bg-primary rounded-3 text-white"><i class="fa fa-book"></i></div>
                            <div class="ps-3 col">
                                <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Care Contract </a></h5>
                                <p class="m-0">Clearly outline your health concerns or the type of assistance you require. This could range from routine check-ups to specific medical conditions.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="icon-lg bg-primary rounded-3 text-white"><i class="fa fa-check"></i></div>
                            <div class="ps-3 col">
                                <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Our Nurses</a></h5>
                                <p class="m-0">
                                    Our Nurses are compassionate and dedicated healthcare professionals who play a crucial role in patient care.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
        